.editor ul {
  list-style: disc !important;
  padding: 0 30px;
}
.editor ol {
  list-style: decimal !important;
  padding: 0 30px;
}

.scroll-lock {
  overflow: hidden;
  position: fixed;
  width: 100%;
}
