.service-slider {
        height: 200px !important;
      }
      .mySwiper {
        width: 100%;
      }
:root {
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px
}
.swiper {
    display: block;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    z-index: 1
}

.swiper-vertical>.swiper-wrapper {
    flex-direction: column
}

.swiper-wrapper {
    box-sizing: initial;
    display: flex;
    height: 100%;
    position: relative;
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function,initial);
    width: 100%;
    z-index: 1
}

.swiper-android .swiper-slide,.swiper-ios .swiper-slide,.swiper-wrapper {
    transform: translateZ(0)
}

.swiper-horizontal {
    touch-action: pan-y
}

.swiper-vertical {
    touch-action: pan-x
}

.swiper-slide {
    display: block;
    flex-shrink: 0;
    height: 100%;
    position: relative;
    transition-property: transform;
    width: 100%
}
.swiper-backface-hidden .swiper-slide {
    backface-visibility: hidden;
    transform: translateZ(0)
}
.swiper-watch-progress .swiper-slide-visible,.swiper:not(.swiper-watch-progress) {
    .swiper-lazy-preloader {
        animation: swiper-preloader-spin 1s linear infinite
    }
}
@keyframes swiper-preloader-spin {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}

.swiper-virtual .swiper-slide {
    -webkit-backface-visibility: hidden;
    transform: translateZ(0)
}
.swiper-virtual.swiper-css-mode {
    .swiper-wrapper:after {
        content: "";
        left: 0;
        pointer-events: none;
        position: absolute;
        top: 0
    }
}
.swiper-button-next,.swiper-button-prev {
    align-items: center;
    color: var(--swiper-navigation-color,var(--swiper-theme-color));
    cursor: pointer;
    display: flex;
    height: var(--swiper-navigation-size);
    justify-content: center;
    position: absolute;
    width: var(--swiper-navigation-size);
    z-index: 10;
    &.swiper-button-disabled {
        cursor: auto;
        opacity: .35;
        pointer-events: none
    }

    &.swiper-button-hidden {
        cursor: auto;
        opacity: 0;
        pointer-events: none
    }

    .swiper-navigation-disabled & {
        display: none!important
    }

    svg {
        height: 100%;
        object-fit: contain;
        transform-origin: center;
        width: 100%;
        fill: currentColor;
        pointer-events: none
    }
}
.swiper-horizontal {
    .swiper-button-next,.swiper-button-prev,~.swiper-button-next,~.swiper-button-prev {
        margin-left: 0;
        margin-top: calc(0px - var(--swiper-navigation-size)/2);
        top: var(--swiper-navigation-top-offset,50%)
    }

    &.swiper-rtl .swiper-button-next,&.swiper-rtl~.swiper-button-next,&~.swiper-button-prev,.swiper-button-prev {
        left: var(--swiper-navigation-sides-offset,4px);
        right: auto
    }

    &.swiper-rtl .swiper-button-prev,&.swiper-rtl~.swiper-button-prev,&~.swiper-button-next,.swiper-button-next {
        left: auto;
        right: var(--swiper-navigation-sides-offset,4px)
    }

    &.swiper-rtl .swiper-button-next,&.swiper-rtl~.swiper-button-next,&~.swiper-button-prev,.swiper-button-prev {
        .swiper-navigation-icon {
            transform: rotate(180deg)
        }
    }

    &.swiper-rtl .swiper-button-prev,&.swiper-rtl~.swiper-button-prev {
        .swiper-navigation-icon {
            transform: rotate(0deg)
        }
    }
}

.swiper-vertical {
    .swiper-button-next,.swiper-button-prev,~.swiper-button-next,~.swiper-button-prev {
        left: var(--swiper-navigation-top-offset,50%);
        margin-left: calc(0px - var(--swiper-navigation-size)/2);
        margin-top: 0;
        right: auto
    }

    .swiper-button-prev,~.swiper-button-prev {
        bottom: auto;
        top: var(--swiper-navigation-sides-offset,4px);
        .swiper-navigation-icon {
            transform: rotate(-90deg)
        }
    }

    .swiper-button-next,~.swiper-button-next {
        bottom: var(--swiper-navigation-sides-offset,4px);
        top: auto;
        .swiper-navigation-icon {
            transform: rotate(90deg)
        }
    }
}

.swiper-pagination {
    position: absolute;
    text-align: center;
    transform: translateZ(0);
    transition: opacity .3s;
    z-index: 10;
    &.swiper-pagination-hidden {
        opacity: 0
    }

    &.swiper-pagination-disabled,.swiper-pagination-disabled>& {
        display: none!important
    }
}

.swiper-horizontal>.swiper-pagination-bullets,.swiper-pagination-bullets.swiper-pagination-horizontal,.swiper-pagination-custom,.swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom,8px);
    left: 0;
    top: var(--swiper-pagination-top,auto);
    width: 100%
}

.swiper-pagination-bullets-dynamic {
    font-size: 0;
    overflow: hidden;
    .swiper-pagination-bullet {
        position: relative;
        transform: scale(.33)
    }

    .swiper-pagination-bullet-active,.swiper-pagination-bullet-active-main {
        transform: scale(1)
    }

    .swiper-pagination-bullet-active-prev {
        transform: scale(.66)
    }

    .swiper-pagination-bullet-active-prev-prev {
        transform: scale(.33)
    }

    .swiper-pagination-bullet-active-next {
        transform: scale(.66)
    }

    .swiper-pagination-bullet-active-next-next {
        transform: scale(.33)
    }
}
.swiper-pagination-bullet {
    background: var(--swiper-pagination-bullet-inactive-color,#000);
    border-radius: var(--swiper-pagination-bullet-border-radius,50%);
    display: inline-block;
    height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,8px));
    opacity: var(--swiper-pagination-bullet-inactive-opacity,.2);
    width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,8px));
    button& {
        appearance: none;
        border: none;
        box-shadow: none;
        margin: 0;
        padding: 0
    }

    .swiper-pagination-clickable & {
        cursor: pointer
    }

    &:only-child {
        display: none!important
    }
}
.swiper .swiper-notification {
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    z-index: -1000
}