.article-content {
  /*! max-width: 100%; */
  overflow-wrap: break-word;
  text-align: justify;
  text-justify: inter-word;
}
.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6 {
  color: var(--color-main-text);
  font-weight: 700;
  font-size: 1.3375rem;
  margin-top:10px
}
.article-content h3 {
  color:black;
  font-size: 1.1375rem;
}
/* ألوان الفقرات */
.article-content p,
.article-content ul,
.article-content ol {
  color: rgba(0,0,0,0.9) ;
  line-height: 1.8;
  font-size: 0.950rem;
  font-weight: 300;
  
}

/* القوائم */
.article-content ul,
.article-content ol {
  padding-inline-start: 1.1875rem;
}
.article-content ol ::marker {
  color: var(--color-main-text) !important;
}
.article-content ul {
  list-style-type: disc;
}

.article-content ol {
  list-style-type: decimal;
}
.article-content div:has(table) {
  max-width: 100%;
  margin:auto;
}

.article-content table {
  width:100%;
  border-collapse: revert;
  margin: 1.5rem 0;
  p {
  font-size: .875rem;
}
}
.article-content td,
.article-content th {
  border: 1px solid var(--color-alternate-text-color);
  padding-block: 10px;
  text-align: center;
}
.article-content th,.article-content tr:nth-child(1) td  {
  background-color:var(--color-primary-text-color);
  font-weight: 900;
  p {
    color: white;
  }
}
.article-content blockquote {
  border-left: 4px solid #0077ff;
  padding-left: 1rem;
  margin: 1.5rem 0;
  font-style: italic;
  color: #555;
}
.article-content pre,
.article-content code {
  background: #f0f0f0;
  padding: 0.5rem 0.7rem;
  border-radius: 6px;
  font-family: Consolas, monospace;
  overflow-x: auto;
}
.article-content pre {
  padding: 1rem;
}
.article-content a:not(.contact-box a) {
    color: var(--color-main-green);
}
.article-content div:has(table) {
  max-width: 300px;
  overflow-x:auto;
}
@media screen and (min-width: 400px) {
  .article-content div:has(table) {
  max-width: 350px;
}
}
@media screen and (min-width: 640px) {
  .article-content div:has(table) {
  max-width: 600px;
}
}
@media screen and (min-width: 768px) {
  .article-content div:has(table) {
  max-width: 700px;
}
}
@media screen and (min-width: 1024px) {
  .article-content div:has(table) {
  max-width: 1000px;
}
}
@media screen and (min-width: 1280px) {
  .article-content div:has(table) {
  max-width: 1115px;
}
}
@media screen and (min-width: 1536px) {
  .article-content div:has(table) {
  max-width: 1440px;
}
}