@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
  /* Text Variables */
  --text-main-title: clamp(1.5rem,2.5vw,2.8125rem); /* 45px */
  --text-sub-title: calc(1.25rem * 1); /* 20px */
  --text-description: calc(1.125rem * 1); /* 18px */
  /* Colors Variables */
  --color-primary-text-color: #1cb280;
  --color-alternate-text-color: #839992;
  --color-active-color: #f64148;
}

[data-hide-mobile] {
  display:none
}
@media screen and (min-width:1024px) {
  [data-hide-mobile] {
    display:block
  }
}
@layer base {
  body,
  html {
    font-family: "Alexandria", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    position: relative;
    height: 100%;
    &:has(:not(.sticky)) {
      overflow-x:hidden
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-transform: capitalize;
  }

  :root {
    font-size: 16px;
  }

  @media (max-width: 499px) {
    :root {
      font-size: 13px;
    }
  }
  
}
.container {
    @apply lg:max-w-[950px] xl:max-w-[1150px] px-4;
  }
  .main-input {
    @apply w-full px-6 py-4 border border-primary-text-color/30 placeholder:text-primary-text-color/30 rounded-[25px] text-alternate-text-color  focus:outline-none  focus:ring-2 focus:ring-primary-text-color/20 transition-all duration-300;
  }
  select.main-input {
    @apply w-full px-6 py-4 border border-primary-text-color/30 placeholder:text-primary-text-color/30 rounded-[25px] focus:outline-none  focus:ring-2 focus:ring-primary-text-color/20 transition-all duration-300 text-primary-text-color/30!;
    option {
      @apply bg-white text-primary-text-color hover:text-white!;
    }
  }
@utility container {
  margin-inline: auto;
}
@utility container-fluid {
  margin-inline: auto;
}
@layer components {
  .dynamic-inputs-container{ 
    position: relative;
  }
  .dynamic-inputs-container:has(> div:not(.hidden)) {
  /* في حالة وجود أي عنصر ظاهر */
  border-color: var(--color-primary-text-color);
}

.dynamic-inputs-container:not(:has(> div:not(.hidden))) {
  border-color: var(--color-alternate-text-color);
  &::after {
    content: "No fields are available.";
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    text-align: center;
    color: red;
  }
}
html[dir="rtl"] .dynamic-inputs-container:not(:has(> div:not(.hidden)))::after {
  content: "لا توجد حقول متاحة";
}
  .main-title-ui {
    @apply text-main-title w-fit font-bold text-primary-text-color relative mb-5;

    &::before {
      content: "";
      position: absolute;
      bottom: -10px;
      inset-inline-end: 0;
      width: 50%;
      height: 6px;
      background-color: var(--color-primary-text-color);
      border-radius: 999px;
      transition: left 0.3s, right 0.3s;
    }
  }
  .custom-scrollbar {
  scrollbar-gutter: stable both-edges;
}
  .custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #83999215; /* لون شفاف من البديل */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #1cb280; /* اللون الأساسي */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #f64148; /* لون نشيط */
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #1cb280 #83999215;
}
  @media screen and (max-width: 640px) {
    .hide-scrollbar::-webkit-scrollbar {
      display: none;
    }
    .hide-scrollbar {
      -ms-overflow-style: none; /* IE & Edge */
      scrollbar-width: none; /* Firefox */
    }  
  }
  .phone-input .iti {
    input {
      @apply text-left rtl:text-right
    }
    @apply w-full;
      .iti__selected-flag {
        @apply bg-[#849992]! text-white flex-row-reverse  gap-2 rounded-l-[25px] overflow-hidden ;
        .iti__arrow {
          display: none
        }
      }
      .iti__country-list {
        @apply left-0
      }
      .iti__country-list {
        width: 250px;
      @media (width >= 640px) {
        width: 400px;
      }
      @media (width >= 64rem) {
        width: 380px;
      }
      @media (width >= 80rem) {
        width: 515px;
      }
      
    }
  }
  .main-description-ui {
    @apply text-description text-alternate-text-color text-justify;
  }
  .custom-overlay {
    @apply absolute inset-0 bg-primary-text-color/70;
    z-index: 1;
  }
  
  .nav-link-underline {
    @apply relative inline-block;
    &::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0;
      height: 3px;
      background-color: var(--color-active-color);
      transition: width 0.3s ease-in-out;
    }
    &:hover::after,
    &.active::after {
      width: 100%;
    }
  }

  .nav-link-underline-offcanvas {
    @apply relative inline-block;
    transition: background-color 0.3s ease-in-out;
    border-radius: 30px;

    &:hover {
      color: #fff !important;
      background-color: var(--color-primary-text-color);
    }
    &.active-link {
      color: #fff !important;
      background-color: var(--color-primary-text-color);
    }
  }
}
